<launch>
  <arg name="model" default="quadrotor"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="0.5"/>


  <!-- Vicon odometry -->
  <group if="$(arg vicon)">
    <include file="$(find vicon)/launch/vicon.launch" unless="$(arg sim)"/>

    <include file="$(find vicon_odom)/launch/vicon_odom.launch" unless="$(arg sim)">
      <arg name="model" value="$(arg model)" />
      <arg name="vicon_fps" value="$(arg vicon_fps)"/>
    </include>
  </group>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">

    <remap from="image_rect" to="/quadrotor/quadrotor_simulator_so3/unity_drone_cam" />
    <remap from="camera_info" to="/quadrotor/quadrotor_simulator_so3/unity_drone_cam/camera_info" />


    <param name="image_transport" type="str" value="compressed" />


    <param name="tag_family" type="str" value="36h11" />


    <param name="projected_optics" type="bool" value="true" />

    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.4},
      {id: 1, size: 0.4},
      {id: 2, size: 0.4},
      {id: 3, size: 0.4},
      {id: 4, size: 0.4},
      {id: 5, size: 0.4}
]
    </rosparam>
  </node>


  <group ns="$(arg model)">
    <param name="mass" value="$(arg mass)"/>

    <!-- Simulator -->
    <include file="$(find flightmare_simulator)/launch/sim.launch" if="$(arg sim)">
      <arg name="name" value="$(arg model)"/>
      <arg name="type" value="hummingbird"/>
      <arg name="mass" value="$(arg mass)"/>
      <arg name="color/r" value="0.0"/>
      <arg name="color/g" value="0.0"/>
      <arg name="color/b" value="1.0"/>
      <arg name="color/a" value="0.7"/>
    </include>

    <!-- Control stuff -->
    <include file="$(find mav_launch)/launch/simulator/control.launch">
      <arg name="nodelet_manager_name" value="nodelet_manager"/>
      <arg name="mass" value="$(arg mass)"/>
    </include>

    <!-- MAV Manager -->
    <include file="$(find mav_launch)/launch/simulator/manager.launch"/>
  </group>

  <!-- Rviz Visualization -->
  <!--include file="$(find mav_launch)/launch/simulator/rviz.launch"/-->

  <!-- Waypoing Navigation -->
  <!-- include file="$(find mav_launch)/launch/waypoint_navigation_plugin/waypoint_rviz.launch"/-->
</launch>
