<launch>
  <arg name="model" default="quadrotor"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="0.5"/>

  <arg name="start_nodelet_manager" default="true"/>
  <arg name="nodelet_manager_name" default="nodelet_manager_control"/>

  <!-- Vicon odometry -->
  <group if="$(arg vicon)">
    <include file="$(find vicon)/launch/vicon.launch" unless="$(arg sim)"/>

    <include file="$(find vicon_odom)/launch/vicon_odom.launch" unless="$(arg sim)">
      <arg name="model" value="$(arg model)" />
      <arg name="vicon_fps" value="$(arg vicon_fps)"/>
    </include>
  </group>



  <group ns="$(arg model)">
    <param name="mass" value="$(arg mass)"/>

    <!-- Simulator -->
    <include file="$(find flightmare_simulator)/launch/sim.launch" if="$(arg sim)">
      <arg name="name" value="$(arg model)"/>
      <arg name="type" value="hummingbird"/>
      <arg name="mass" value="$(arg mass)"/>
      <arg name="color/r" value="0.0"/>
      <arg name="color/g" value="0.0"/>
      <arg name="color/b" value="1.0"/>
      <arg name="color/a" value="0.7"/>
    </include>

    <node pkg="nodelet"
      type="nodelet"
      name="$(arg nodelet_manager_name)"
      args="manager"
      output="screen"/>
  
    <node pkg="nodelet"
      type="nodelet"
      name="trackers_manager"
      args="load trackers_manager/TrackersManager $(arg nodelet_manager_name)"
      output="screen">
      <rosparam file="$(find arpl_autonomy)/config/arpl_sim/default/trackers.yaml"/>
      <rosparam file="$(find arpl_autonomy)/config/arpl_sim/default/tracker_params.yaml"/>
      <rosparam file="$(find arpl_autonomy)/config/arpl_sim/default/control_params.yaml"/>
      <remap from="~odom" to="odom"/>
      <remap from="~cmd" to="position_cmd"/>
    </node>
  
    <node pkg="nodelet"
      type="nodelet"
      args="load mav_control/SO3ControlNodelet $(arg nodelet_manager_name)"
      name="so3_control"
      required="true"
      output="screen">
      <rosparam file="$(find arpl_autonomy)/config/arpl_sim/default/control_params.yaml"/>
      <param name="mass" value="$(arg mass)"/>
      <remap from="~odom" to="odom"/>
      <remap from="~position_cmd" to="position_cmd"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~motors" to="motors"/>
    </node>

    <!-- MAV Manager -->
    <node pkg="mav_manager"
      type="mav_services"
      name="mav_services"
      clear_params="true"
      output="screen">
      <rosparam file="$(find arpl_autonomy)/config/arpl_sim/default/mav_manager_params.yaml"/>
    </node>
  </group>

  <!-- Waypoing Navigation -->
  <!-- include file="$(find mav_launch)/launch/waypoint_navigation_plugin/waypoint_rviz.launch"/-->
</launch>
